header {
    background-color: rgb(206, 241, 239);
    color: solid #5a0808;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border: 5px solid #5a0808;
    padding: 15px;
}

main {
    background-color: rgb(206, 241, 239);
    color: solid #5a0808;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border: 5px solid #5a0808;
    padding: 15px;
    display: flex;
}

footer {
    background-color: rgb(206, 241, 239);
    color: blue;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.autor{
    font-weight: bold;
}

img{
    height: 30%;
    width: 30%;
    border: 10%;
}

div{
    text-align: left;
    padding: 15px;
    margin: 0 auto;
}